---
layout: layout.liquid
title: External Data
---
<div class="grid place-content-center gap-4 shadow-2xl shadow-black p-2">
<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}">
    <img class="border-8 border-white rounded-2xl alt="thumbnail" x-bind:src="thumbImage"/>
</div>
<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/2', jsonItem='thumbnail')}">
    <img class="border-8 border-white rounded-2xl alt="thumbnail" x-bind:src="thumbImage"/>
</div>
</div>